<div class="row" ng-init="fnInitUsers()">
    <div class="col-xs-12">
        <div class="page-header m-t-0">
            <h3 class="m-t-10 m-b-0">Millions data with MEAN</h3>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6"><h4 class="m-t-5 m-b-0">Users</h4></div>
                    <div class="col-xs-6">
                        <div class="pull-right">
                            <a class="btn btn-primary btn-sm" href="#/users/add" title="Create a new user">
                                <i class="glyphicon glyphicon-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="min-height: 5px;">
                <div class="loader" ng-if="isUserLoad"></div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search name..."
                                   ng-model="query.search"
                                   ng-model-options="{debounce: 1000}"
                                   ng-change="fnGetUsers(query)"/>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="users-grid" ui-grid="gridOptions" ui-grid-pagination></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
